:root {
    /* --bar-color: #3E89ED; */
    --bar-color: #56070c;
    --darkest-bar-color: #47060A;
    /* --background: #3EC1ED; */
    --background: #eee;
    --links: #ddd;
    --hover-links: #fff;
    --text: #555;
    --call-to-action: #556B2F;
}

body {
    background-color: var(--background);
}

.fa-solid {
    font-family: inherit;
}

header, footer {
    background-color: var(--bar-color);
    padding: 1vw 0;
    color: var(--links);
}

header a:hover, footer a:hover {
    color: var(--hover-links) !important;
}

p {
    margin: 0;
    text-indent: 1.5em;
}

img {
    margin: 1vw 0;
    border-radius: 1em;
    width: 100%;
}

pre {
    margin: 1vw 0;
    background-color: #ddd;
    padding: 1vw;
    border-radius: 1em;
}

main {
    color: var(--text);
    background-color: var(--background);
    padding: 2vw 15vw;
    margin: 0;
}

.header-title {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit !important;
}

a:hover {
    color: #000 !important;
}

.a-container {
    display: flex;
}

.list-items .row:first-child {
    background-color: rgba(200, 200, 200, 1);
}

.list-items .col, .list-items .col-6, .list-items .col-10 {
    border-left: 1px solid black;
}

.list-items .col:first-child, .list-items .col-6:first-child, .list-items .col-10:first-child {
    border-left: none;
    text-wrap: wrap;
}

.btn {
    margin: .5vw;
}

.btn-primary {
    background-color: var(--bar-color) !important;
    border-color: var(--bar-color) !important;
}

.btn-primary:hover {
    background-color: var(--darkest-bar-color) !important;
    border-color: var(--darkest-bar-color) !important;
}
